.FAB-whatsapp {
  align-items: center;
  background-color: #60d669;
  border: 3px solid;
  border-color: var(--blanco);
  display: flex;
  height: 93px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 342px;
}

.FAB-whatsapp .ic-baseline-whatsapp {
  position: relative;
}

.FAB-whatsapp .text-wrapper {
  color: var(--blanco);
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.FAB-whatsapp.default {
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000080;
  gap: 24px;
}

.FAB-whatsapp.variant-2 {
  border-radius: 21.11px;
  gap: 25.33px;
}

.FAB-whatsapp.default .ic-baseline-whatsapp {
  height: 60px;
  width: 60px;
}

.FAB-whatsapp.variant-2 .ic-baseline-whatsapp {
  height: 65px;
  width: 65px;
}

.FAB-whatsapp.default .text-wrapper {
  font-size: 30px;
}

.FAB-whatsapp.variant-2 .text-wrapper {
  font-size: 36px;
}
